[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
Django = "==3.1.1"
flake8 = "*"
autopep8 = "*"
matplotlib = "*"
plotly = "==4.14.3"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
